%div{"class" => "dataTables_wrapper"}
  %div.contenttitle
    %h2.table
      %span
        = I18n.t('view.home.title')
  %div.tableoptions
    %a#export{:href => "/home/list.csv"}
      %button
        = I18n.t('common.export_csv')
    %div#insert.right
      %label Name:
      %input#insert-name
      %button#btn-insert
        = I18n.t('common.insert')
  %div.table-wrapper-content
    %table{"class" => "stdtable stdtablecb", "id" => "list-items"}
      %colgroup
        %col.con0
        %col.con1
        %col.con2
        %col.con3
      %thead
        %th.head0.width64
          = I18n.t('active_record.items.id')
        %th.head1.width320
          = I18n.t('active_record.items.name')
        %th.head0.width128
          = I18n.t('active_record.items.number')
        %th.head1
          = I18n.t('common.created_at')
      %tbody
        - @items.each do |item|
          %tr{"id" => "itemid-"+item.id.to_s}
            %td.center
              = item.id
            %td.wrap-content.center
              = item.name
            %td.wrap-content.center
              = item.number
            %td.wrap-content.center
              = item.created_at